.carousel slide{
	padding: 40px;
}
.list-group-item {
  
    
    padding-right:50px; /* adjust here */
    
    
    line-height: 1em /* set to text height */
}
.list-group{
      display:inline-block;
      margin-left:100px;
 }
 .badge{
 	margin-left:50px ;

 }
